<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kstech.dao.CheckRecordDBMapper" >
  <resultMap id="BaseResultMap" type="com.kstech.model.CheckRecordDB" >
    <id column="exc_id" property="excId" jdbcType="INTEGER" />
    <result column="exc_name" property="excName" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="INTEGER" />
    <result column="device_num" property="deviceNum" jdbcType="VARCHAR" />
    <result column="checker_code" property="checkerCode" jdbcType="INTEGER" />
    <result column="checker_name" property="checkerName" jdbcType="VARCHAR" />
    <result column="check_exc_status" property="checkExcStatus" jdbcType="INTEGER" />
    <result column="check_date_start" property="checkDateStart" jdbcType="DATE" />
    <result column="check_date_finish" property="checkDateFinish" jdbcType="DATE" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    exc_id, exc_name, device_id, device_num, checker_code, checker_name, check_exc_status, 
    check_date_start, check_date_finish, check_result
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from record_excheck
    where exc_id = #{excId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from record_excheck
    where exc_id = #{excId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kstech.model.CheckRecordDB" >
    insert into record_excheck (exc_id, exc_name, device_id, 
      device_num, checker_code, checker_name, 
      check_exc_status, check_date_start, check_date_finish, 
      check_result)
    values (#{excId,jdbcType=INTEGER}, #{excName,jdbcType=VARCHAR}, #{deviceId,jdbcType=INTEGER}, 
      #{deviceNum,jdbcType=VARCHAR}, #{checkerCode,jdbcType=INTEGER}, #{checkerName,jdbcType=VARCHAR}, 
      #{checkExcStatus,jdbcType=INTEGER}, #{checkDateStart,jdbcType=DATE}, #{checkDateFinish,jdbcType=DATE}, 
      #{checkResult,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kstech.model.CheckRecordDB" >
    insert into record_excheck
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="excId != null" >
        exc_id,
      </if>
      <if test="excName != null" >
        exc_name,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceNum != null" >
        device_num,
      </if>
      <if test="checkerCode != null" >
        checker_code,
      </if>
      <if test="checkerName != null" >
        checker_name,
      </if>
      <if test="checkExcStatus != null" >
        check_exc_status,
      </if>
      <if test="checkDateStart != null" >
        check_date_start,
      </if>
      <if test="checkDateFinish != null" >
        check_date_finish,
      </if>
      <if test="checkResult != null" >
        check_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="excId != null" >
        #{excId,jdbcType=INTEGER},
      </if>
      <if test="excName != null" >
        #{excName,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceNum != null" >
        #{deviceNum,jdbcType=VARCHAR},
      </if>
      <if test="checkerCode != null" >
        #{checkerCode,jdbcType=INTEGER},
      </if>
      <if test="checkerName != null" >
        #{checkerName,jdbcType=VARCHAR},
      </if>
      <if test="checkExcStatus != null" >
        #{checkExcStatus,jdbcType=INTEGER},
      </if>
      <if test="checkDateStart != null" >
        #{checkDateStart,jdbcType=DATE},
      </if>
      <if test="checkDateFinish != null" >
        #{checkDateFinish,jdbcType=DATE},
      </if>
      <if test="checkResult != null" >
        #{checkResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kstech.model.CheckRecordDB" >
    update record_excheck
    <set >
      <if test="excName != null" >
        exc_name = #{excName,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=INTEGER},
      </if>
      <if test="deviceNum != null" >
        device_num = #{deviceNum,jdbcType=VARCHAR},
      </if>
      <if test="checkerCode != null" >
        checker_code = #{checkerCode,jdbcType=INTEGER},
      </if>
      <if test="checkerName != null" >
        checker_name = #{checkerName,jdbcType=VARCHAR},
      </if>
      <if test="checkExcStatus != null" >
        check_exc_status = #{checkExcStatus,jdbcType=INTEGER},
      </if>
      <if test="checkDateStart != null" >
        check_date_start = #{checkDateStart,jdbcType=DATE},
      </if>
      <if test="checkDateFinish != null" >
        check_date_finish = #{checkDateFinish,jdbcType=DATE},
      </if>
      <if test="checkResult != null" >
        check_result = #{checkResult,jdbcType=VARCHAR},
      </if>
    </set>
    where exc_id = #{excId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kstech.model.CheckRecordDB" >
    update record_excheck
    set exc_name = #{excName,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=INTEGER},
      device_num = #{deviceNum,jdbcType=VARCHAR},
      checker_code = #{checkerCode,jdbcType=INTEGER},
      checker_name = #{checkerName,jdbcType=VARCHAR},
      check_exc_status = #{checkExcStatus,jdbcType=INTEGER},
      check_date_start = #{checkDateStart,jdbcType=DATE},
      check_date_finish = #{checkDateFinish,jdbcType=DATE},
      check_result = #{checkResult,jdbcType=VARCHAR}
    where exc_id = #{excId,jdbcType=INTEGER}
  </update>
</mapper>